<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Tabela</title>
</head>
<body>
    <form action="/store" method="post">
        <input
            type="text"
            name="nome"
            placeholder="Produtos"
            required
        >
        <input
            type="text"
            name="item"
            placeholder="Preço"
            required
        >
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>